@charset "UTF-8";
body{margin: 0; padding: 0; display: flex;
    align-items: center;
    justify-content: center;}

.tela_login{
    font-size: 4vmin;
    margin-top: 5%;
    text-align: center; 
}
.tela_login form{
    margin-top: 10%;
}
.tela_login fieldset{
    border-radius: 8px;
    height: 50vmin;
}
.tela_login input{
    border-radius: 6px;
    font-size: 3vmin;
    display: block;
    margin-top: 3vmin;
    margin-left: 7vmin;
    margin-right: 7vmin;
    padding: 2vmin 2vmin;
}
.tela_login input[type="submit"]{
    margin-top: 6vmin;
    margin-left: 19vmin;
}
.tela_login p{
    color: red;
    margin-left: 7vmin;
    position: absolute;
    margin-top: 0%;
    font-size: 1.8vmax;
    display: none;
}